nav.navbar.navbar-default {
  margin-bottom: 0;
}

.navbar {
  background-color: skyblue;
  border-bottom: 5px solid rgb(134, 150, 223);
}

.navbar-brand {
  font-size: 30px;
  font-family: 'Playfair Display SC', serif;
}