.footer {
  min-height: 100px;
  background-color: rgb(216, 180, 83);
  position: relative;
}

.footer span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
  background-color: rgb(238, 226, 123);
  font-family: 'Playfair Display SC', serif;
  color:rgb(65, 53, 30);
}
